<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #firstname,#lastname {
            margin-bottom: 10px;
        }
        form {
            margin: 10px;
        }
    </style>
</head>
<body>
    <form action="{% url 'save' %}" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" id="firstname" placeholder="First Name" required/><br>
        <input type="text" name="lastname" id="lastname" placeholder="Last Name" required/> <br>
        <input type="submit" id="save" value="Save">
    </form>
</body>
</html>